<header class="navbar navbar-static-top cs-nav" id="top" role="banner">

  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="octicon octicon-three-bars"></span>
      </button>
      <a class="cs-logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}/codestar/"><i class="octicon octicon-code"></i> Codestar</a></li>
        <li><a href="{{ site.baseurl }}/themes/"><i class="octicon octicon-flame"></i> Themes</a></li>
        <li><a href="{{ site.baseurl }}/documentation/" class="page-documentation"><i class="octicon octicon-repo"></i> Documentation</a></li>
        <li><a href="{{ site.baseurl }}/license/"><i class="octicon octicon-checklist"></i> License</a></li>
        <li><a href="{{ site.baseurl }}/donate/"><i class="octicon octicon-heart"></i> Donate</a></li>
        <li><a href="{{ site.github }}/" target="_blank"><i class="octicon octicon-mark-github"></i> Github</a></li>
      </ul>
    </nav>

  </div>

</header>